{% extends 'templates/layout.twig' %}

{% block content %}

	{% include 'partials/header.twig' %}

	<div class="container mt-5">
		<h1 class="text-center p-5">Articles</h1>
		<div class="row">
			{% for article in articles %}
				<div class="col-md-4 mb-3">
					<div class="card">
						<img src="{{ article.image }}" class="card-img" alt="{{ article.title }} class=" opacity-25">
						<div class="card-img-overlay" style="color: black">
							<h5 class="card-title">{{ article.title }}</h5>
							<p class="card-text">{{ article.content|slice(0, 100) ~ (article.content|length > 100 ? '...' : '') }}</p>
							<p class="card-text">
								<small>Created in
									{{ article.created}}</small>
							</p>
							<a href="/show/{{ article.title|slugify }}/{{ article.id }}" class="btn btn-secondary float-end">Read More</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	
	{# Paginação #}
		<nav>
			<ul
				class="pagination justify-content-center">
				{# Botão "Início" #}
				<li class="page-item {% if pagination.currentPage == 1 %}disabled{% endif %}">
					<a class="page-link" href="?page=1">Início</a>
				</li>

				{# Botão "Anterior" #}
				{% if pagination.prevPage %}
					<li class="page-item">
						<a class="page-link" href="?page={{ pagination.prevPage }}">&laquo;</a>
					</li>
				{% endif %}

				{# Botões das páginas #}
				{% for page in pagination.pages %}
					<li class="page-item {% if page == pagination.currentPage %}active{% endif %}">
						<a class="page-link" href="?page={{ page }}">{{ page }}</a>
					</li>
				{% endfor %}

				{# Botão "Próximo" #}
				{% if pagination.nextPage %}
					<li class="page-item">
						<a class="page-link" href="?page={{ pagination.nextPage }}">&raquo;</a>
					</li>
				{% endif %}

				{# Botão "Fim" #}
				<li class="page-item {% if pagination.currentPage == pagination.totalPages %}disabled{% endif %}">
					<a class="page-link" href="?page={{ pagination.totalPages }}">Fim</a>
				</li>
			</ul>
		</nav>

	</div>


	{% include 'partials/footer.twig' %}

{% endblock %}
